@model IEnumerable<SiteMapNode>

<ul>
    @foreach (SiteMapNode node in Model)
    {
        Boolean submenu = node.Children.Any();
        String menu = submenu ? "submenu" : "";
        menu += node.IsActive ? " active" : "";
        menu += submenu && node.IsActive ? " open" : "";

        <li class="@menu.TrimStart()">
            <a href="@node.Url">
                <span class="icon @node.IconClass"></span>
                <span class="text">@node.Title</span>
                @if (submenu)
                {
                    <span class="toggle fa fa-angle-right"></span>
                }
            </a>
            @if (submenu)
            {
                <partial name="_SiteMap" model="@node.Children" />
            }
        </li>
    }
</ul>
